<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="/assets/svg/menu.svg"></md-icon>
    </md-button>
    <h1 class="md-flex">Team Draw</h1>
    <span flex></span>
    <md-button class="">Register</md-button>
  </div>
</md-toolbar>

<div layout-align="center center" layout="row">
  <md-content class="md-padding"   flex-gt-lg="80" flex-lg="80"  flex-md="100" flex-gt-sm="80" flex-lt-md="80" flex-sm="100">
    <md-card>
      <md-card-content>
        <h2 class="md-title">Log in</h2>
        <md-divider ></md-divider>
        <div layout="col" layout-sm="row">
          <div flex="60">
            <p class="md-subhead">Account information</p>
            <md-input-container class="md-icon-float">
              <!-- Use floating label instead of placeholder -->
              <label>Email</label>
              <md-icon md-svg-src="assets/svg/email.svg" class="md-primary"></md-icon>
              <input ng-model="user.name" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float">
              <label>Password</label>
              <md-icon md-svg-src="assets/svg/key.svg" class="md-primary"></md-icon>
              <input ng-model="user.phone" type="password">
            </md-input-container>
            <section layout="row"  layout-sm="column" layout-align="end center" layout-wrap>
              <md-button class="md-primary">Forgot password?</md-button>
              <md-button class="md-raised md-primary">Login</md-button>
            </section>
          </div>
          <div flex="40" flex-sm="100" layout-align="center center">
            <p class="">Social login</p>
            <section layout="row" layout-align="center center" layout-wrap hide-sm hide-md>
              <md-button class="md-fab md-primary"><md-icon md-svg-src="/assets/svg/facebook.svg"></md-icon></md-button>
              <md-button class="md-fab md-warn"><md-icon md-svg-src="/assets/svg/googleplus.svg"></md-icon></md-button>
              <md-button class="md-fab md-info"><md-icon md-svg-src="/assets/svg/twitter.svg"></md-icon></md-button>
            </section>
            <section layout="row" layout-align="center center" layout-wrap hide-gt-lg hide-lg show-sm>
              <md-button class="md-raised md-primary" style="width:100%"><md-icon md-svg-src="/assets/svg/facebook.svg"></md-icon></md-button>
              <md-button class="md-raised md-warn" style="width:100%"><md-icon md-svg-src="/assets/svg/googleplus.svg"></md-icon></md-button>
              <md-button class="md-raised md-info" style="width:100%"><md-icon md-svg-src="/assets/svg/twitter.svg"></md-icon></md-button>
            </section>
          </div>
        </div>
      </md-card-content>
      <md-divider ></md-divider>
      <section layout="row" layout-align="center center" layout-wrap>
        <md-button class="md-primary hide-sm">New to this site? Create an account now!</md-button>
        <md-button class="md-primary show-sm hide-md hide-md-lg hide-lg hide-gt-lg">Create Account</md-button>
      </section>
    </md-card>

  </md-content>
</div>
