.md-group-button  {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.md-info {
  background-color: #2daddc !important;
  color:#ffffff !important;
}
