<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="/assets/svg/menu.svg"></md-icon>
    </md-button>
    <h1 class="md-flex">Team Draw</h1>
    <span flex></span>
    <div class="md-toolbar-tools autoWidth">
      <p class="body" hide-sm ng-bind="User.name"></p>
      <div ng-include="'components/ringbell/ringbell.html'"></div>
    </div>
    <md-button class="md-primary md-mini" ng-click="logout()"  hide-sm hide-md>Sign out</md-button>
    <md-button class="md-fab md-mini md-primary" ng-click="logout()" hide-lg hide-gt-lg>
      <md-icon md-svg-src="assets/svg/exit.svg" aria-label="Sign out"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<section layout="row" flex>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-content layout-padding>
        <div layout="row">
          <md-button flex class="md-raised md-warn" aria-label="New Drawing" ng-click="createDrawing()">
            New
          </md-button>
        </div>
        <div layout="column" id="btnAction">
          <md-button flex="100" id="btnMine"  ng-click="getMine()"  class="md-raised md-primary">Owned by me</md-button>
          <md-button flex="100" id="btnshared"  ng-click="getShared()" class="md-raised md-primary">Shared with me</md-button>
        </div>
      </md-content>
    </md-sidenav>

    <md-content flex="100%" >
      <section layout="row" class="toolbar-controls no-padding" layout-sm="row" layout-align="left" layout-wrap>
        <md-button class="md-raised md-warn">Delete</md-button>
        <span flex></span>
        <md-button class="md-icon-button"> <md-icon md-svg-src="assets/svg/prev.svg" style="color: dimgray;"
                                                        aria-label="Previous page"></md-icon></md-button>
        <md-button class="md-icon-button"> <md-icon md-svg-src="assets/svg/next.svg" style="color: dimgray;"
                                                        aria-label="Next page"></md-icon></md-button>
      </section>
        <div layout="column" layout-fill layout-align="top center" >
          <md-list-item style="width:100%" ng-repeat="item in documentList">
            <md-checkbox class="md-secondary" ng-model="item.selected"></md-checkbox>
            <p >  <md-button class="md-primary" ng-click="goToDocument(item)">{{ item.name }}</md-button> </p>
            <md-divider></md-divider>
          </md-list-item>
        </div>
      </md-content>

  </section>
  <md-fab-speed-dial md-direction="up" class="md-fab-bottom-right" hide-lg hide-gt-lg>
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-svg-src="assets/svg/plus.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Chat window" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="assets/svg/group.svg" style="color: dimgray;"
                 aria-label="Chat Window"></md-icon>
        <md-tooltip>
          Shared
        </md-tooltip>
      </md-button>
      <md-button aria-label="Profile Information" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="assets/svg/user.svg" style="color: dimgray;"
                 aria-label="Profile"></md-icon>
        <md-tooltip>
          Mine
        </md-tooltip>
      </md-button>
      <md-button aria-label="Remove user from drawing" class="md-fab md-raised md-mini" ng-click="createDrawing()">
        <md-icon md-svg-src="assets/svg/new.svg" style="color: rgba(255,64,129,0.87);"
                 aria-label="Create new document"></md-icon>
        <md-tooltip>
          New
        </md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</section>
